<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<title>bank online</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="SPOILER_bootstrap.css" />

<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>

	<h1>onlinebank</h1>

	<header>
		<div class="navbar navbar-inverse ">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/operations}">Operations</a></li>
					<li><a th:href="@{/account}">Accounts</a></li>
					<li><a th:href="@{/customer}">Clients</a></li>
				</ul>
			</div>
		</div>
	</header>

	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel panel-heading">Consultation accounts</div>
			<div class="panel-body">
				<form th:action="@{/consulterAccounts}" method="get">
					<div>
						<label>Code At:</label> <input type="text" name="codeCompte"
							th:value="${codeCompte}" />
						<button type="submit" class="btn btn-primary">ok</button>
					</div>
				</form>
				<div class="text-danger" th:if="${exception}"
					th:text="${exception.message}"></div>
			</div>
		</div>

		<div class="panel panel-primary" th:if="${accounts}">
			<div class="panel panel-heading">Informations on the account</div>
			<div class="panel-body">
				<div>
					<label>Customers:</label> <label th:text="${account.customer.name}"></label>
				</div>
				<div>
					<label>Code:</label> <label th:text="${account.codeAccount}"></label>
				</div>
				<div>
					<label>Balance:</label> <label th:text="${account.balance}"></label>
				</div>
				<div>
					<label>Date création:</label> <label
						th:text="${account.dateCreation}"></label>
				</div>
				<div>
					<label>Type:</label> <label th:text="${account.class.simpleName}"></label>
				</div>
				<div th:if="${account.class.simpleName=='CompteCourant'}">
					<label>Découvert:</label> <label th:text="${compte.decouvert}"></label>
				</div>
				<div th:if="${account.class.simpleName=='CompteEpargne'}">
					<label>Taux:</label> <label th:text="${account.taux}"></label>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-primary" th:if="${account}">
			<div class=" panel-heading">Opérations sur le compte</div>
			<div class="panel-body">
				<form th:action="@{/saveOperation}">
					<div>
						<label>Account</label> <input type="hidden" name="codeaccount"
							th:value="̣${codeAccount}" /> <label th:text="${codeAccount}"></label>
					</div>
					<div>
						<input type="radio" name="typeOperation" value="VERS"
							checked="checked"
							onchange "document.getElementById('forvirement').style.display='none' "/>
						<label>Versement</label> <input type="radio" name="typeOperations"
							value="RET"
							onchange "document.getElementById('forvirement').style.display='none' "/>
						<label>Retrait</label> <input type="radio" name="typeOperation"
							value="VIR"
							onchange "document.getElementById('forvirement').style.display='block' "/>
						<label>Virement</label>
					</div>
					<div>
						<div id="forvirement" style="dispay: none" />
						<label>Vers</label> <input type="text" name="codeAccount2" />
					</div>
					<div>
						<label>Montant</label> <input type="text" name="montant" />
					</div>
					<div class="text-danger"
						th:text=${#httpServletResquest.getParmenter( 'error')} />
					<button type="submit" class="btn btn-primary">save</button>
				</form>
			</div>
		</div>

		<div class="panel panel-primary" th:if="${account}">
			<div class="panel panel-heading">Liste des opérations</div>
			<div class="panel-body">
				<table class="table table-striped">
					<tr>
						<th>Num</th>
						<th>Type</th>
						<th>Date</th>
						<th>Amount</th>
					</tr>
					<tr th:each="o:${listOperation}">
						<td th:text="${o.numero}"></td>
						<td th:text="${o.class.simpleName}"></td>
						<td th:text="${o.dateOperation}"></td>
						<td th:text="${o.montant}"></td>
					</tr>
				</table>

	</div>

</body>
</html>